@font-face {
    font-family: roboto;
    src: url(/fonts/roboto.woff2)
}

:root {
    --icon-color: white;
    --user-profile-bg: #facc15;

* {
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
}

.icon {
    fill: var(--icon-color);
    height: 2rem;
    width: auto;
    position: relative;
    top: -1.5px;


}

.logo .icon {
    height: 3rem;
}

.link  {
    display: flex;
    font-size: 1.5rem;
    gap: 2rem;
    align-items: center;
    line-height: 1;   
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

}

.sidebar {
    background: black;
    grid-row: 1/ 3;
     display: flex;
    flex-direction: column;
    gap: 80px;
    color: white;
    align-items: start;
    padding: 2rem;

}

.logo  {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    align-items: center;
}

.main  {
    background: lightskyblue;
}

.menu-1,
.menu-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


a {
    text-decoration: none;
    color: white;
}

.header {
    background: black;
    color: white;
    grid-column: 2 / 3;
    display: flex;
    gap: 3rem;
    flex-direction: column; 
    padding: 1rem 3rem 2rem 2rem ;  
}

.top {
    display: flex;
    justify-content: space-between;

}

.search {
    display: flex;
    gap: 1rem
   
}

.search input {
    border-radius: 12px;
    width: 40rem;
}

.search-icon {
    top: 1px;
}

.icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 20px;
}

.profile {
    --size: 3rem;

    width: var(--size);
    height: var(--size); 

    background-image: url(images/profile-pic.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--user-profile-bg);
    border-radius: 50%;
    background-position: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls {
    display: flex;
    gap: 3rem;
}

button {
    border: 2px solid white;
    background: black;
    color: white;
    padding: 6px 3rem;
    border-radius: 16px;
    font-size: 20px;
    display:inline-flex;
    align-items: center;
    line-height: 1;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap
}

.text-large {
    grid-column: 2 / 3;
    font-size: 30px;
}

.profile {
    grid-row: 1 / 3;
}

