@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root {
    --icon-color: #EDF2F4;
    --user-profile-bg: #facc15;
    --title-color:  #e0e0ff;
    --text-color:#B0C4DE;
    --bg-dark: #0a0a0f;
    --panel-bg: #11111b;
    --user-image: url(images/profile-pic.svg);
    
}  

* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


.icon {
    fill: var(--icon-color);
    height: 2rem;
    width: auto;
    position: relative;
    top: -1.5px;


}

.logo .icon {
    height: 3rem;
}

.link  {
    display: flex;
    font-size: 1.5rem;
    gap: 2rem;
    align-items: center;
    line-height: 1;   
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background: black;
    grid-row: 1/ 3;
     display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: start;
    padding: 2rem;

}

.logo  {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    align-items: center;
}

.menu-1,
.menu-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.top {
    display: flex;
    justify-content: space-between;

}

.controls {
    display: flex;
    gap: 3rem;
}

button {
    border: 2px solid var(--title-color);
    background: black;
    color: var(--title-color);
    padding: 6px 3rem;
    border-radius: 16px;
    font-size: 20px;
    display:inline-flex;
    align-items: center;
    line-height: 1;
}

.text-large {
    grid-column: 2 / 3;
    font-size: 30px;
}

.project {
    border: 2px solid var(--title-color);
    height: 200px;
}

.logo .icon {
    height: 3rem;
}

.menu-1,
.menu-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


a {
    text-decoration: none;
    color: var(--title-color);
}

.header {
    background: black;
    grid-column: 2 / 3;
    display: flex;
    gap: 3rem;
    flex-direction: column; 
    padding: 1rem 3rem 2rem 2rem ;  
}

.search {
    display: flex;
    gap: 1rem
   
}

.search input {
    border-radius: 12px;
    width: 40rem;
}

.search-icon {
    top: 1px;
}

.icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 20px;
}

.profile {
    --size: 3rem;

    width: var(--size);
    height: var(--size); 

    background-image: var(--user-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--user-profile-bg);
    border-radius: 50%;
    background-position: center;
}

.profile-1 {
    --user-profile-bg:#7fffd4;
    --user-image: url(images/peep-22.svg);
}
.profile-2 { 
    --user-profile-bg: #ffb6c1 ;
    --user-image: url(images/peep-32.svg)
}

.profile-3 {
    --user-profile-bg: #d3d3d3;
    --user-image: url(images/peep-43.svg)
}
.profile-4 {
    --user-profile-bg: #d3d3d3;
    --user-image: url(images/peep-61.svg)
}


.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.your-projects .title {
    grid-column: 1 / -1;
    margin-bottom: -1rem;
}

.title {
    font-size: 20px;
    font-weight: 900;
    color: var(--title-color)
}

.text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 100;
}

.main  {
    background: var(--bg-dark);
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow-y: auto;
    padding: 2rem 2rem 4rem 1rem;
    gap: 2rem;

}

.your-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.project {
    border: 2px solid var(--title-color);
    height: 300px;
    border-radius: 6px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--panel-bg);
}

.connect {
    align-self: end;
    display: flex;
    gap: 1rem;
    margin-top: auto;

}

.sidebar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}



.panel {
    border: 2px solid white;
    flex: 1;
    padding: 2rem 1rem;
    border-radius: 6px;
    background-color: var(--panel-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcements,
.trending {
   flex: 1; 
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.card .title {
    margin-bottom: -0.5rem;
}

.tweet {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr
}

.tweet div:first-child {
    grid-row: 1 / 3;
    justify-self: center;
}

.text.handle {
    font-weight:800;
    color: var(--title-color);

}



