:root {
    --icon-color: white;
}

.icon {
    fill: var(--icon-color);
    height: 2rem;
    width: auto;
    position: relative;
    top: -1.5px;


}

.logo .icon {
    height: 3rem;
}

.link  {
    display: flex;
    font-size: 1.5rem;
    gap: 2rem;
    align-items: center;
    line-height: 1;
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

}

.header {
    background: lightpink;
    grid-column: 2 / 3;
   
    
}

.sidebar {
    background: black;
    grid-row: 1/ 3;
     display: flex;
    flex-direction: column;
    gap: 80px;
    color: white;
    align-items: start;
    padding: 2rem;

}

.logo  {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    align-items: center;
}

.main  {
    background: lightskyblue;
}

.menu-1,
.menu-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

